extends ../head
block content
    - var weekdays = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"]
    - var pair_numbers = [1, 2, 3, 4, 5]
    h2 Группа #{student_group.number}
    div(class="col-md-5")
        form(action="/addRecordSchedule/" + student_group.id, method="POST")
            div(class="form-group mb-3")
                select(name="week_day" class="form-select")
                    - for (var i = 0; i < weekdays.length; i++)
                        option(value=i) #{weekdays[i]}
            div(class="form-group mb-3")
                select(name="pair_number" class="form-select")
                    each pair_number in pair_numbers
                        option(value=pair_number) #{pair_number}
            div(class="form-group mb-3")
                select(name="discipline_teacher_id" class="form-select") 
                    each el in discipline_teacher
                        option(value=el.id) #{el.discipline_name} &mdash; #{el.teacher_name}
            div(class="form-group mb-3")
                input(type="submit" value="Добавить" class="btn btn-outline-success")